<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>login</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <div class="MainHeader">
            <div class="SearchLogoContainer">
                <a class="HomeLogo" href="/"><img class="Logo" src="images/logo-mercado-liebre.svg" /></a>
                <form action="/" method="GET" class="SearchBar">
                    <input type="text" class="InputSearchBar" placeholder="Buscar productos, marcas y más">
                    <button type="submit" class="SearchButton"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <p class="PaymentPlan"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de
                crédito</p>
        </div>
        <nav class="MainNavbar">
            <ul class="Navbar1">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="Navbar2">
                <li><a href="/registro">Creá tu cuenta</a><i class="fa-solid fa-address-card"></i></li>
                <li><a href="/login">Ingresá</a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a><i class="fa-sharp fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="BurgerMenu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <main>
        <form action="/" method="GET" class="LoginForm">
            <div class="FormInput">
                <input type="text" name="nombre-usuario" placeholder="Nombre de usuario" class="InputControl">
            </div>
            <div class="FormInput">
                <input type="password" name="password" placeholder="Contraseña" class="InputControl">
            </div>
            <div class="FormInput">
                <button type="submit" class="SubmitBotton">Enviar</button>
            </div>
    </main>

    <footer>
        <section class="FooterContainer">
            <div class="FooterOptions">
                <div class="FooterIcon"><i class="fa-solid fa-credit-card"></i></div>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es seguro!</p>
            </div>
            <div class="FooterOptions">
                <div class="FooterIcon"><i class="fa-solid fa-gift"></i></div>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de Mercado Puntos.</p>
            </div>
            <div class="FooterOptions">
                <div class="FooterIcon"><i class="fa-solid fa-user-shield"></i></div>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegid@.</p>
            </div>
        </section>
        <p class="Copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</P>
    </footer>
</body>

</html>