/*BODY*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #ebebeb;
    font-family: 'Roboto';
}

/*HEADER*/

header {
    width: 100vw;
    background-color: #EAC926;
}

.main-header {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

.logo-buscar {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}

img.logo {
    width: 40%;
    flex-grow: 0.5;
}

.barra-y-boton-buscar {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 5px;
    justify-content: center;
    flex-grow: 0.5;
}

.input-header {
    width: auto;
    background-color: #fff;
    font-size: 12px;
    border: none;
    border-radius: 5px;
}

div i.fa-magnifying-glass {
    font-size: 12px;
    background-color: #fff;
    color: #666;
    padding: 1px;
    border: none;
    align-self: center;
}

p.compra-cuotas {
    text-align: center;
    margin: 20px;
    font-size: 12px;
}

/*opciones del menú*/

.main-navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.main-navbar ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

ul.navbar-1 {
    display: flex;

}

ul.navbar-2 {
    display: flex;
}

.main-navbar a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 2px;
    font-size: 12px;
}

.burguer-menu {
    background-color: #1259c3;
    color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    max-width: 40px;
    padding: 10px;
    border-radius: 8px;
    justify-content: center;
    font-size: 18px;
    margin: auto;
    position: relative;
    bottom: 20px;
}

.banner {
    width: 100vw;
}

/*MAIN*/

main {
    width: 90%;
    margin: auto;
}

h3.titulares {
    font-size: 24px;
    font-weight: 900;
    color: #666;
    margin: 15px;
}

main article {
    width: 100%;
    background-color: #fff;
}

img.img-producto {
    width: 100%;
}

article div i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: solid 1px #39b54a;
    color: #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main div.detalle-producto {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

.precio-descuentos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

p.precios {
    font-size: 16px;
    font-weight: 800;
    flex-grow: 0.3;
}

p.descuentos {
    font-size: 16px;
    color: #39b54a;
    flex-grow: 0.7;
}

p.descripcion {
    font-size: 16px;
    color: #666;
}

/*FOOTER*/

footer {
    margin: 5px;
    background-color: white;
    color: #666;
}

section.footer-options {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.footer-icon {
    color: #1259c3;
    font-size: 24px;
    padding-bottom: 0%;
    padding-top: 30px;
}

section.footer-options h3 {
    font-size: 18px;
    margin-top: 0%;
    margin-bottom: 0%;

}

section.footer-options p {
    font-size: 12px;
    margin-top: 0%;
}

footer .copyrigth {
    font-size: 12px;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 10px;
}

/*navegación en mobile*/
@media (max-width: 360px) {

    p.descripcion {
        display: none;
    }

    header nav.main-navbar ul {
        display: none;
    }

    article.art-2,
    article.art-3,
    article.art-4 {
        display: none;
    }
}

/*navegación en tablet*/


@media (max-width: 768px) and (min-width: 361px) {

    .main-header {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        width: vw;
    }

    .logo-buscar {
        flex-wrap: nowrap;
        justify-content: center;
        gap: 0px;
        flex-grow: 0.66;
    }

    .input-header {
        width: 85%;
        border-radius: 0%;
        border-style: groove;
    }

    .barra-y-boton-buscar {
        flex-wrap: nowrap;
        justify-content: center;
        align-self: center;
        background-color: transparent;
        column-gap: 5px;
    }

    div i.fa-magnifying-glass {
        background-color: #ebebeb;
        border: solid 1px #666;
        padding: 1px;
        font-size: 14px;
    }

    p.compra-cuotas {
        text-align: center;
        margin: auto;
        font-size: 80%;
    }

    .contenedor-de-articulos {
        display: flex;
        column-gap: 40px;
        background-color: #ebebeb;
    }

    .burguer-menu {
        display: none;
    }

    main section article.art-1,
    main section article.art-2 {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    article.art-3,
    article.art-4 {
        display: none;
    }
}

/*navegación en desktop*/
@media (min-width: 769px) {
    .main-header {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        width: vw;
    }

    .logo-buscar {
        flex-wrap: nowrap;
        justify-content: center;
        gap: 0px;
        flex-grow: 0.66;
    }

    .input-header {
        width: 85%;
        border-radius: 0%;
        border-style: groove;
    }

    .barra-y-boton-buscar {
        flex-wrap: nowrap;
        justify-content: center;
        align-self: center;
        background-color: transparent;
        column-gap: 5px;
    }

    div i.fa-magnifying-glass {
        background-color: #ebebeb;
        border: solid 1px #666;
        padding: 1px;
        font-size: 14px;
    }

    p.compra-cuotas {
        text-align: center;
        margin: auto;
        font-size: 16px;
    }

    nav.main-navbar {
        padding: 20px 40px;
        ;
    }

    nav.main-navbar a {
        font-size: 16px;
    }

    ul.navbar-1 {
        column-gap: 20px;
    }

    ul.navbar-2 {
        column-gap: 20px;
    }

    .contenedor-de-articulos {
        display: flex;
        column-gap: 40px;
        background-color: #ebebeb;
    }

    .burguer-menu {
        display: none;
    }

    main section article.art-1,
    main section article.art-2,
    main section article.art-3,
    main section article.art-4 {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);

    }

}