<!DOCTYPE html>
<html lang="en">

<head>

    <%-include('./partials/head.ejs') %>
    <title>registro</title>
</head>

<body>
    <%-include('./partials/header.ejs') %>

    <main>
        <form action="/" method="GET" class="CreateProductForm">
            <div class="FormInput">
                <input type="text" name="nombre" placeholder="Nombre y apellido" class="InputControl">
            </div>
            <div class="FormInput">
                <input type="text" name="usuario" placeholder="Nombre de usuario" class="InputControl">
            </div>
            <div class="FormInput">
                <input type="email" name="email" placeholder="E-mail" class="InputControl">
            </div>
            <div class="FormInput">
                <label>Fecha de nacimiento</label>
                <input type="date" name="fecha" placeholder="mm / dd / yyyy" class="InputControl">
            </div>
            <div class="FormInput">
                <input type="text" name="domicilio" placeholder="Domicilio" class="InputControl">
            </div>
            <div class="FormInput">
                <label>Perfil del usuario</label>
                <div class="UserProfileContainer">
                    <div class="UserProfile">
                        <input type="radio" name="perfil-usuario" id="comprador">
                        <label class="UserProfile" for="comprador">Comprador</label>
                    </div>
                    <div class="UserProfile">
                        <input type="radio" name="perfil-usuario" id="vendedor">
                        <label class="UserProfile" for="vendedor">Vendedor</label>
                    </div>
                </div>
            </div>
            <div class="FormInput">
                <label>Intereses</label>
                <div class="CheckboxContainer">
                    <div class="InterestsCheck">
                        <input type="checkbox" class="Interests" name="intereses" id="electro" value="electro">
                        <label for="intereses" class="Interests"> Electro</label>
                    </div>
                    <div class="InterestsCheck">
                        <input type="checkbox" class="Interests" name="intereses" id="moda" value="moda">
                        <label for="intereses" class="Interests"> Moda</label>
                    </div>
                    <div class="InterestsCheck">
                        <input type="checkbox" class="Interests" name="intereses" id="hogar" value="hogar">
                        <label for="intereses" class="Interests"> Hogar</label>
                    </div>
                    <div class="InterestsCheck">
                        <input type="checkbox" class="Interests" name="intereses" id="juguteria" value="jugueteria">
                        <label for="intereses" class="Interests"> Juguetería</label>
                    </div>
                    <div class="InterestsCheck">
                        <input type="checkbox" class="Interests" name="intereses" id="vida-sana" value="vida-sana">
                        <label for="intereses" class="Interests"> Vida Sana</label>
                    </div>
                </div>
            </div>
            <div class="FormInput">
                <label>Foto de perfil</label>
                <input type="file" class="UploadProfilePicture" name="foto-perfil" accept=".jpg, .png">
            </div>
            <div class="FormInput">
                <input type="password" name="password" placeholder="Contraseña" class="InputControl">
            </div>
            <div class="FormInput">
                <input type="password" name="confirma-password" placeholder="Confirmar contraseña" class="InputControl">
            </div>
            <div class="FormInput">
                <button type="submit" class="SubmitBotton">Guardar</button>
                <button type="reset" class="ResetBotton">Borrar</button>
            </div>
        </form>
    </main>

    <%-include('./partials/footer.ejs')  %>
</body>

</html>