<footer>
    <section class="FooterContainer">
        <div class="FooterOptions">
            <div class="FooterIcon"><i class="fa-solid fa-credit-card"></i></div>
            <h3>Paga con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tienes cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                siempre es seguro!</p>
        </div>
        <div class="FooterOptions">
            <div class="FooterIcon"><i class="fa-solid fa-gift"></i></div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tienes envíos gratis en miles de productos. Es un
                beneficio de Mercado Puntos.</p>
        </div>
        <div class="FooterOptions">
            <div class="FooterIcon"><i class="fa-solid fa-user-shield"></i></div>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devuelvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </div>
    </section>
    <p class="Copyright">Copyright © 2022 MercadoLiebre - By Tatiana Martínez at Digital House</P>
</footer>